################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/BarberShop/.vs/BarberShop/DesignTimeBuild
/BarberShop/.vs/BarberShop/FileContentIndex
/BarberShop/.vs/BarberShop/v17
/BarberShop/.vs/ProjectEvaluation
/BarberShop/BarberShop.Api/bin/Debug/net7.0
/BarberShop/BarberShop.Api/obj/Debug/net7.0
/BarberShop/BarberShop.Api/obj
/BarberShop/BarberShop.Application/bin/Debug/net7.0
/BarberShop/BarberShop.Application/obj/Debug/net7.0
/BarberShop/BarberShop.Common/bin/Debug/net7.0
/BarberShop/BarberShop.Application/obj
/BarberShop/BarberShop.Common/obj/Debug/net7.0
/BarberShop/BarberShop.Common/obj
/BarberShop/BarberShop.DependencyInjection/bin/Debug/net7.0
/BarberShop/BarberShop.DependencyInjection/obj/Debug/net7.0
/BarberShop/BarberShop.DependencyInjection/obj
/BarberShop/BarberShop.Domain/bin/Debug/net7.0
/BarberShop/BarberShop.Domain/obj/Debug/net7.0
/BarberShop/BarberShop.Domain/obj
/BarberShop/BarberShop.Infrastructure/bin/Debug/net7.0
/BarberShop/BarberShop.Infrastructure/obj/Debug/net7.0
/BarberShop/BarberShop.Infrastructure/obj
/BarberShop/BarberShopWorker/bin/Debug/net7.0
/BarberShop/BarberShopWorker/obj
/BarberShop/BarberShopWorker.Application/bin/Debug/net7.0
/BarberShop/BarberShopWorker.Application/obj/Debug/net7.0
/BarberShop/BarberShopWorker.Application/obj
/BarberShop/BarberShopWorker.Domain/bin/Debug/net7.0
/BarberShop/BarberShopWorker.Domain/obj/Debug/net7.0
/BarberShop/BarberShopWorker.Domain/obj
/BarberShop/BarberShopWorker.Infrastructure/bin/Debug/net7.0
/BarberShop/BarberShopWorker.Infrastructure/obj/Debug/net7.0
/BarberShop/BarberShopWorker.Infrastructure/obj
/.vs/barbershop/FileContentIndex
/.vs/barbershop/v17
/.vs
/BarberShop.Api/bin
/BarberShop.Api/obj
/BarberShop.Application/bin
/BarberShop.Common/bin
/BarberShop.Common/obj
/BarberShop.DependencyInjection/bin
/BarberShop.DependencyInjection/obj
/BarberShop.Domain/bin
/BarberShop.Infrastructure/bin
/BarberShopWorker/bin/Debug/net7.0
/BarberShopWorker/obj
/BarberShopWorker.Application/bin/Debug/net7.0
/BarberShopWorker.Application/obj
/BarberShopWorker.Domain/bin/Debug/net7.0
/BarberShopWorker.Application/BarberShopWorker.Application.csproj
/BarberShopWorker.Domain/obj
/BarberShopWorker.Infrastructure/bin/Debug/net7.0
/BarberShopWorker.Infrastructure/obj
/BarberShop.Domain/obj
/BarberShop.Infrastructure/obj
/BarberShop.Application/obj/Debug/net7.0
/BarberShop.Application/obj
